body {
  margin: 0;
  font-family: "Lato","-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","sans-serif";
}

h1 {
  font-weight:900;
  font-size:42px;
  margin:20px 0px;
}

h2 {
  font-size:16px;
  margin:5px 0px;
  color: #333;
}

 a {
   color: #237eb5;
   text-decoration: none;
 }
 a:hover {
   text-decoration: underline;
 }

.Header {
  border-bottom: 1px solid #eee;
  padding:5px 20px;
  display: flex;
  align-items: center;
}

.Header-logo {
  height: 40px;
  margin-right:10px;
}

.Header-nav {
  display: flex;
  align-items: center;
  flex: 1;
}

.Header-social {
  position: relative;
  color: #333;
  margin-right:15px;
  font-weight: 700;
}
.Header-social:hover {
  color:black;
  text-decoration: none;
}

.Header-social svg {
  font-size: 20px;
  position: absolute;
  left: -24px;
}

.Header-nav-button {
  color: #555;
  margin-left:20px;
  font-weight: 600;
  font-size:14px;
  cursor: pointer;
}
.Header-nav-button:hover {
  color: black;
  text-decoration: none;;
}
@media only screen and (max-width: 500px) {
  .Header-nav-button {
    display: none;
  }
}

.Header-topics-dropdown {
  display: none;
}
.Header-topics-button:hover .Header-topics-dropdown {
  display: block;
}

.Header-button {
  background: #142C5A;
  opacity: .8;
  font-size: 14px;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  padding: 0px 10px;
  height: 32px;
  line-height: 32px;
  margin:5px 0px;
}

.Header-button:hover {
  opacity: 1;
  text-decoration: none;
}

.App-container {
  margin:10px auto;
  max-width: 800px;
  padding: 10px;
}

.byline {
  font-style: italic;
  color: #666;
  font-size: 14px;
  margin:20px 0px;
}

.App-header {
  text-align: center;
}

.App-intro {
  line-height: 22px;
  text-align: left;
  max-width:660px;
  margin:20px auto;
}

.App-intro p {
  margin:10px 0px;
}

.App-section {
  margin:20px;
}

.App-section-header {
  margin-bottom:10px;
  margin-left:2px;
}

.App-timeline {
  position: relative;
  height:70px;
  margin:55px 30px 10px 30px;
}

.App-timeline-line {
  height:1px;
  background:black;
}

.App-timeline-today {
  position: absolute;
  top:-7px;
  width:0px;
  height:14px;
  background:#142C5A;
  border-radius:2px;
}

.App-timeline-today-label {
  font-size: 12px;
  border-radius: 3px;
  padding: 3px 5px;
  position: relative;
  top:-22px;
  width:32px;
  margin-left:-19px;
  text-align: center;
  font-weight:bold;
  background: #142C5A;
  color: white;
  border-radius: 3px;
}

.App-timeline-today-arrow {
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent; 
  border-top: 6px solid #142C5A;
  top:-23px;
  position: relative;
  right:5px;
}

.App-timeline-deadline-tooltip {
  display: none;
  font-size: 12px;
  border-radius: 3px;
  padding: 3px 5px;
  position: absolute;
  bottom:20px;
  width:140px;
  margin-left:-70px;
  text-align: center;
  font-weight:bold;
  background: black;
  color: white;
  border-radius: 3px;
  z-index: 3;
}

.App-timeline-deadline-tooltip-arrow {
  z-index: 3;
  display: none;
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent; 
  border-top: 6px solid black;
  bottom: 16px;
  position: absolute;
  right:-5px;
}

.App-timeline-deadline {
  position: absolute;
  top:-5px;
  width:1px;
  height:10px;
  background:black;
  cursor: pointer;
}

.App-timeline-hoverspot {
  position: absolute;
  top:-5px;
  left: -10px;
  width:20px;
  height: 20px;
  cursor: pointer;
}

.App-timeline-deadline:hover .App-timeline-deadline-tooltip {
  display: block;
}

.App-timeline-deadline:hover .App-timeline-deadline-tooltip-arrow {
  display: block;
}

.App-timeline-deadline-label {
  white-space: nowrap;
  font-size: 12px;
  color: #333;
  position: relative;
  top:15px;
  width: max-content;
  transform: translate(calc(-50% + 0px), 0);
}

@media only screen and (max-width: 500px) {
  .App-timeline-deadline-label  b {
    display: none;
  }
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  padding: 15px 20px;
  box-sizing: border-box;  
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 5px rgba(0,0,0,.05);
  color: black;
  font-size: 19px;
}

.react-autosuggest__input--focused, .react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
  width: 100%;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  border: 1px solid #aaa;
  background-color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 8px 12px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.App-suggestion {
  display: flex;
  align-items: center;
}

.App-suggestion-bill, .App-suggestion-person {
  flex: 1;
}

.App-suggestion-view {
  float: right;
  background: #142C5A;
  color: white;
  padding:3px 10px;
  border-radius: 3px;
  height: 20px;
  font-weight: 600;
  line-height: 20px;
  font-size:14px;
  margin-left:10px;
}

.react-autosuggest__suggestion--highlighted .App-suggestion-view {
  background: black;
}

.Bill-container {
  margin:40px auto;
  max-width: 760px;
  padding:10px;
  position: relative;
}

.Bill-header {
  background: #f8f8f8;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 15px 20px;
}

.Bill-title {
  font-weight: bold;
  font-size: 20px;
}

.Bill-subjects {
  margin-top: 10px;
}

.Bill-subject {
  color: #555;
  font-size: 13px;
  display: inline;
}

.Bill-url, .Person-url {
  margin-top:10px;
  font-size:12px;
  font-style: italic;
  color: #777;
}
.Bill-url svg, .Person-url svg, .Agenda-url svg {
  position:relative;
  top:1px;
  font-size:11px;
  margin-left:2px;
}
.Bill-url a, .Person-url a, .Agenda-url a {
  color: #777;
}
.Bill-url a:hover, .Person-url a:hover, .Agenda-url a:hover {
  color: black;
}

.Bill-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:15px;
}

.Bill-buttons {
  display: flex;
  align-items: center;
}

.Bill-buttons a {
  align-items: center;
  display:flex;
  background: white;
  border: 1px solid #666;
  color: #666;
  font-size:14px;
  border-radius: 3px;
  padding:5px 10px;
  cursor: pointer;
  font-weight:600;
  outline: 0;
  line-height: 1.2em;
  margin-right: 10px;
}

.Bill-buttons a svg {
  margin-right:8px;
}
.Bill-buttons a:hover {
  color: black;
  border-color: black;
  text-decoration: none;;
}

.Bill-follow svg {
  margin-right:10px;
}

.Bill-follow {
  line-height: 1.2em;
  align-items: center;
  display:flex;
  background: white;
  border: 1px solid #666;
  color: #666;
  font-size:14px;
  border-radius: 3px;
  padding:5px 10px;
  cursor: pointer;
  font-weight:600;
  outline: 0;
}
.Bill-follow:hover {
  color: black;
  border-color: black;
}

.Bill-following {
  background: #333;
  border-color: #333;
  color: white;
}
.Bill-following:hover {
  background: black;
  color: white;
  border-color: black;
}

.Bill-following svg {
  color: rgb(252, 206, 0);
}

.Bill-details {
  margin-top:-5px;
  font-size: 14px;
}

.Bill-detail-item {
  margin-right:50px;
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
}

.Bill-detail-item-header {
  display: inline;
  font-weight: bold;
}

.Bill-detail-item-content {
  display: inline;
  margin-left: 10px;
}

.Bill-detail-item-content a {
  color: #333;
  text-decoration: underline;
  text-underline-position: under;
}
.Bill-detail-item-content a:hover {
  color: black;
}

.Bill-fiscal-note {
  font-size:11px;
  color: #777;
  font-style: italic;
  margin-top: 3px;
}
.Bill-fiscal-note a {
  color: #777;
  text-decoration: none;
}
.Bill-fiscal-note svg {
  position:relative;
  top:1px;
  font-size:11px;
  margin-left:2px;
}

.Bill-section-header {
  margin-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
  font-weight:bold;
  font-size:14px;
}

.Bill-amendment {
  padding: 7px 12px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 0px 8px 8px 0px;
  min-width: 118px;
  background: #f8f8f8;
  font-size:16px;
  color: #333;
  cursor: pointer;
  display: inline-block;
}
.Bill-amendment:hover {
  text-decoration: none;
  color: black;
  background: #f1f1f1f1;
}

.Bill-amendment-sponsors {
  font-weight:bold;
  font-size: 14px;
}

.Bill-amendment-status {
  color: #888;
  font-size:12px;
}

.Bill-committees {
  display: flex;
}

.Bill-committee {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size:14px;
  padding: 0px 20px 5px 0px;
  min-width: 200px;
}

.Bill-committee-status {
  font-style: italic;
  font-size: 12px;
  color: #666;
}

.Bill-committee-chamber {
  display: inline-block;
  padding:2px 5px;
  background: #888;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 3px;
  position: relative;
  width:40px;
  text-align: center;
  margin:4px 10px 4px 0px;
}

.Bill-sponsors {
  overflow-x: scroll;
  width:100%;
}
.Bill-sponsors-container {
  display: flex;
}

.Bill-sponsors .PersonBox-representative{
  width: 200px;
  margin:0px;
  margin-right:10px;
  margin-bottom:10px;
}

.Bill-breadcrumbs {
  font-size: 15px;
}

.Bill-statusbar-status {
  position: absolute;
  bottom: -52px;
  transform: translate(calc(-50% + 5px), 0);
  background: black;
  padding: 5px 10px;
  color: white;
  font-size: 13px;
  border-radius: 3px;
  font-weight: bold;
  text-align:center;
  white-space: nowrap;
}

.Bill-statusbar-status-date {
  font-weight: 500;
  font-style: italic;
  font-size:11px;
  margin-top:3px;
}

.Bill-statusbar {
  margin: 60px 0px 70px 0px;
  padding: 0px 2.5%;
  display: flex;
  position: relative;
}
.Bill-statusbar-group {
  position: absolute;
  border: 1px solid #333;
  border-radius: 5px;
  width: 28%;
  left: 0;
  top: -20px;
  height: 40px;
}
.Bill-statusbar-group-name {
  position: relative;
  top: -17px;
  width: 100%;
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
.Bill-statusbar-segment {
  position: relative;
  flex: 1;
}
.Bill-statusbar-segment-long {
  flex: 2;
}
.Bill-statusbar-dot {
  height: 5px;
  width: 5px;
  border-radius: 5px;
  position: absolute;
  left: 0px;
  margin-top: -4px;
  z-index: 1;
  background: white;
  border: 3px solid black;
}
.Bill-statusbar-dot.active {
  background: green;
  border-color: green;
}
.Bill-statusbar-line {
  height:3px;
  width: 100%;
  background: black;
}
.Bill-statusbar-line.active {
  background: green;
}

.Bill-dispatch-header {
  margin-bottom:5px;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
}

.Bill-dispatch-tags {
  margin-top: 8px;
}

.Bill-dispatch-header-date {
  font-weight:600;
  font-style: normal;
}

.Bill-dispatch {
  margin: 0;
  border-radius: 3px;
  padding: 10px 15px;
}

.Person-container {
  margin:40px auto;
  max-width: 760px;
  padding:10px;
}

.Person-header {
  border-top: 1px solid #aaa;
  font-size:14px;
  margin:20px 0px;
  padding:20px 0px 0px 0px;
  display: flex;
}

.Person-header img {
  height: 120px;
  margin-right: 20px;
}

.Person-header-details {
  min-width: 400px;
  flex: 1;
}

.Person-header-map {
  width: 200px;
}
.Person-header-map img {
  width: 100%;
  cursor:zoom-in;
}

.Person-name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom:4px;
}

.Person-position {
  background: #333;
  border-radius: 3px;
  padding:3px 10px;
  margin-top: 10px;
  display: inline-block;
  font-size:12px;
  color: white;
}

.Person-contact {
  margin-top: 10px;
}
.Person-contact svg {
  position: relative;
  top:3px;
  margin-right:3px;
  font-size: 16px;
}
.Person-contact a {
  color: #333;
  margin-right: 10px;
  display: block;
  margin-bottom:3px;
}
.Person-contact a:hover {
  color: black;
  text-decoration: none;
}

.Person-breadcrumbs {
  font-size: 14px;
  margin-bottom:20px;
}

.Person-committees-container {
  overflow-x: scroll;
}

.Person-committees {

}

.Person-committee {
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  min-width: 160px;
  display: inline-block;
  width: 220px;
  vertical-align: top;
  background: #f8f8f8;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 48px;
  cursor: pointer;
}
.Person-committee:hover {
  background: #f1f1f1;
}

.Person-committee-role {
  font-style: italic;
  font-size: 12px;
  color: #666;
}

.Person-bills {
  margin-top:10px;
}

.Person-section-header {
  margin-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #aaa;
  font-size:15px;
}

.Person-bill {
  display: inline-block;
  margin: 5px;
  width:70px;
}

.Subject-container {
  margin:40px auto;
  max-width: 760px;
  padding:10px;
}

.Subject-breadcrumbs {
  font-size: 14px;
  margin-bottom:20px;
}

.Subject-bills {
  display: flex;
  flex-wrap: wrap;
}

.Subject-bill {
  display: inline-block;
  margin: 5px;
  width:70px;
}

.Subject-section-header {
  margin-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #aaa;
  font-size:15px;
}

.Committee-leadership {
  display: flex;
  max-width: 100%;
  overflow: scroll;
}

.App-representatives {

}

.App-representatives-error {
  margin-top: 20px;
  font-style: italic;
  color: #666;
}

.App-representatives .PersonBox-representative {
  margin: 0;
  margin-top: 10px;
}

.App-representatives-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-bottom: 10px;
}

.App-representatives-spinner svg {
  animation: fa-spin .5s infinite linear;
}
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.App-search-container {
  display: flex;
  align-items: flex-start;
}
.App-search {
  background: #fff2ef;
  border-radius: 3px;
  padding: 10px 20px 20px 20px;
  margin:20px 0px;
  flex: 1;
  margin-right: 10px;
}
.App-search-error {
  padding: 20px;
  background: white;
  box-shadow: 0 0 5px rgb(0 0 0 / 5%);
  border: 1px solid #e1e1e1;
  position: absolute;
  z-index: 2;
  width: 300px;
}

.App-localrep {
  background: #eff8ff;
  border-radius: 3px;
  padding: 10px 20px 20px 20px;
  margin:20px 0px;
  flex: 1;
  position: relative;
}

.App-localrep .react-autosuggest__input {
  padding-right:80px;
}

.App-localrep-searchbutton {
  float: right;
  background: #142C5A;
  color: white;
  padding: 3px 10px;
  border-radius: 3px;
  height: 26px;
  font-weight: 600;
  line-height: 26px;
  font-size: 14px;
  margin-left: 10px;
  position: absolute;
  right: 10px;
  top: 11px;
  cursor: pointer;
}

.App-localrep-searchbutton.disabled {
  background: #888;
  cursor: auto;
}

@media only screen and (max-width: 600px) {
  .App-search-container {
    display: block;
  }
  .App-search {
    margin-right: 0;
  }
}


.App-localrep h2, .App-search h2 {
  margin-bottom:15px;
  margin-left:2px;
}

.PersonBox-representative {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 0px 10px 10px 0px;
  min-width: 198px;
  position: relative;
  background: #f8f8f8;
  font-size:14px;
  color: #333;
  min-height:50px;
  cursor: pointer;
}

.PersonBox-representative:hover {
  background: #f1f1f1;
  color: black;
}

.PersonBox-representative-name {
  margin-bottom: 5px;
  font-size:18px;
  font-weight: 600;
  color: black;
}

.PersonBox-contact-icons {
  font-size:20px;
  display: inline-block;
  position: absolute;
  right:5px;
  bottom:5px;
}

.PersonBox-contact-icons a {
  color: #666;
  margin-left:5px;
}
.PersonBox-contact-icons a:hover {
  color: black;
}

.PersonBox-tag {
  display: inline-block;
  padding:2px 5px;
  background: rgb(17, 0, 172);
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 3px;
  position: relative;
  margin-right:5px;
  margin-top:10px;
}

.BillBox {
  padding: 5px 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 5px 0px;
  min-width: 198px;
  position: relative;
  background: #f8f8f8;
  font-size:16px;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.BillBox:hover {
  color: black;
  background: #f1f1f1;
}

.BillBox-name {
  font-weight: 600;
  display: inline-block;
  flex: 0 0 100px;
}

.BillBox-status {
  text-align: center;
  margin-left:10px;
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  padding-top:5px;
  min-width: 70px;
}

.BillBox-details {
  flex: 1;
  padding: 5px 0px;
}

.BillBox-agenda {
  background: #142C5A;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 11px;
  margin-top: 5px;
  color: white;
}
.BillBox-agenda:hover {
  background:darkblue;
  text-decoration: none;
}

.BillBox-notes {
  font-style: italic;
  color: #666;
  margin-top: 5px;
}

.BillBox-tags {
  margin-top:8px;
}

.BillBox-statusbar {
  margin:10px auto;
  width:40px;
  display: flex;
  position: relative;
  left:-5px;
}

.BillBox-statusbar-segment {
  position: relative;
  flex: 1;
}
.BillBox-statusbar-segment-long {
  flex: 2;
}
.BillBox-statusbar-dot {
  height: 4px;
  width: 4px;
  border-radius: 4px;
  position: absolute;
  left: 0px;
  margin-top: -3px;
  z-index: 1;
  background: white;
  border: 2px solid black;
}
.BillBox-statusbar-dot.active {
  background: green;
  border-color: green;
}
.BillBox-statusbar-line {
  height:2px;
  width: 100%;
  background: black;
}
.BillBox-statusbar-line.active {
  background: green;
}

@media only screen and (max-width: 500px) {
  .BillBox {
    display: block;
    padding: 10px;
  }
  .BillBox-status {
    text-align: left;
    margin: 0;
  }

  .BillBox-statusbar {
    display: none;
  }
}

.Tag {
  border-radius: 10px;
  padding:3px 10px;
  margin: 0px 5px 1px 0px;
  display: inline-block;
  font-size:12px;
  color: black;
  font-style: italic;
}

.Agenda-container {
  margin:20px auto;
  padding:10px;
  max-width: 800px;
}

.Agenda {
  border-bottom: 1px solid #ddd;
  padding:15px 0;
}

.Agenda-title {
  font-weight: 600;
  font-size:18px;
}

.Agenda-date {
}

.Agenda-url {
  cursor: pointer;
  margin-top: 5px;
  font-size:12px;
  font-style: italic;
  color: #777;
}

.Agenda-bills {
  margin-top: 15px;
}

.Agenda-bills .BillBox-agenda {
  display: none;
}

.Agenda a {
  color: inherit;
  color: #222;
}
.Agenda a:hover {
  color: black;
  text-decoration: inherit;
}
.Agenda a:hover .Agenda-url {
  color: inherit;
  text-decoration: underline;
}
